body{
    background-color: black;
    }
h1{
    color: white;
}
    p{
    background-color: lightsteelblue;
    }
    #p1{
        color: lightgreen;
    }
    #p2{
        background-color: lime;
    }
    .odd{
        color: yellow;
    }
    .even{
        color: violet;
    }
    