body{
    background-image: url("ls1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient(to right, skyblue,khaki);
    background-repeat: no-repeat;
    background-attachment: fixed;

}
p{
    background: linear-gradient(to left,skyblue,white);
    background: no-repeat;
    background-attachment: fixed;
}