body{
    margin: 0px;
    border: 0px;
    /*
    border is the space inside an element, and the space between text/elements
    margin is the space around an element
    */
}
#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: greenyellow;
    /*
    using percentage for margins
    margin-left: 50%;
    */
    /*using both causing the element to stick center of the screen
    margin-left: auto;
    margin-right: auto;
    */

    /*using pixels as marginal difference
    padding: 10px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    */
}

#box2{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 22px;
    background: rgb(233, 229, 29);

    padding:10px;
    margin: 50px;
}
/*
we can use this as comments
*/