.choiceBtn{
    line-height: 30px;
    width: 150px;
    border: 1px solid greenyellow;
    background-color: slategray;
    font-weight: bold;
    color: cyan;
}
#gameDiv{
    font-family: 'Brush Script MT', cursive;
    border: 3px solid indigo;
    border-radius: 25px;
    padding: 10px;
    background-color: cornsilk;
    text-align: center;
}
#playerText{
    color: blueviolet;
}
#computerText{
    color: red;
}