#box1{
    border: 4px;
    width: 250px;
    height: 250px;
    font-size: 250px;
    text-align: center;
    background-color: gold;
    /*Translating the x and y axis
    transform: translateX(50px);
    transform: translateY(-50x);
    Translating both the x and y axis by passing 2 @par
    */
    /*
    transform: translate(50px,50px);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    */
    /*
    transform: rotatez(180deg);
    transform: scaleX(1);
    transform: scaleY(1);
    transform: scale(2,2);
    
    transform:skewX(45deg);
    transform: skew(20deg,20deg);
    */
    
    
    /*
    matrix combines the following
    1.Scale x
    2.Skew Y
    3.skew x
    4.Scale y
    5.translate x
    6.translate y
    */
    transform: matrix(2,0,0,2,250,150);

}