p{
    border-style: ridge;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}
h1{
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dashed;
    border-right-style: dashed;
    border-left-width: 2px;
    border-right-width: 2px;
    border-left-color: indigo;
    border-right-color: indigo;
    color: rgb(92, 29, 209);
}
body{
    background-color: khaki;
}