a:link{
    color: lawngreen;
}
a:visited{
    color: grey;
}
a:hover{
    color: tomato;
}

a:active{
    color: yellow;
}
button:hover{
    background-color: lightgrey;
}
button:active{
    background-color: white;
}
/*
li:nth-child(1){
    background-color: yellow;
}
li:nth-child(5){
    background-color: yellow;
}this is useful with java scri, the add/decrement a obj 
*/
/*
li:nth-child(odd){
    background-color: aquamarine;
}
li:nth-child(even){
    background-color: indianred;
}YOU CAN ALSO PASS IN A FORMULA AS AN ARGUMENT 4N, +1, 
*/
li:nth-child(2n){
    background-color: skyblue;
}